/* Write your CSS here */
.tabItem {
  padding: 10px;
  list-style-type: none;
  display: flex;
}
.appItem {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  justify-content: center;
  align-items: center;
}
.cont {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  height: 15px;
  width: 15px;
}
.input {
  border-width: 0px;
  height: 30px;
  width: 185px;
}
.input-cont {
  height: 30px;
  width: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
